{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">Uma Simples Plataforma de Ensino a Distância</h1>
                <h2 class="splash-subhead">
                    O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso
                    para cursos a distância.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Inscreva-se</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Sobre o curso</h4>
            <p>Lorem ipsum condimentum laoreet et at lacinia faucibus, consectetur tincidunt quis purus fames sem,
                cubilia suspendisse luctus interdum quisque facilisis. commodo accumsan lacus aliquam sociosqu nisl
                consequat hac aliquam imperdiet sed, bibendum eget inceptos commodo rutrum fames faucibus cursus massa.
                scelerisque litora integer sapien pulvinar vitae elementum feugiat, sem adipiscing arcu interdum duis
                nostra habitasse urna, auctor dui netus lobortis tempor erat. porta himenaeos faucibus fermentum platea
                ac augue non, posuere habitasse ut auctor aenean habitant nisl, curabitur ligula ante dolor lorem nam.
                ultricies etiam sagittis eu erat id nunc sagittis per turpis, nisl varius sodales vivamus nunc leo purus
                placerat nibh quis, quisque risus interdum etiam vehicula sapien vestibulum sapien.</p>

            <p>Aptent condimentum iaculis sodales tristique quis consequat imperdiet ut pellentesque euismod eget, orci
                sed litora mi phasellus cubilia suspendisse viverra congue dolor, cras taciti primis massa justo id hac
                lorem ultricies integer. elit purus libero sem bibendum himenaeos fringilla tristique dictumst
                pellentesque, praesent mattis auctor id ad vestibulum tellus litora aliquet cursus, litora pharetra
                tellus odio lacinia ullamcorper eget bibendum. habitasse magna dapibus etiam purus hac dolor, risus
                augue justo ligula curae. pretium in tempus nec turpis egestas purus velit ligula magna primis class,
                laoreet scelerisque tincidunt mattis tempor quisque risus primis potenti.</p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250" alt="">
        </div>
    </div>
</div>
{% endblock %}